@model IEnumerable<diary.Models.Worker>

@{
    ViewData["Title"] = "Add Event Workers";
}

<h1>AddEvent</h1>
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
</head>
<body>
    <form method="post">
        <label></label> <label></label> <br />
        <label>Worker:</label> <br />
        <select name="id_user" placeholder="Id User">
            @foreach (var w in Model)
            {
                <option value=@w.Id>@w.FirstName @w.LastName</option>
            }
        </select>
        <input type="text" name="hours" placeholder="Hours" /> <br />
        <br />
        <br />
        <button></button>
        <input type="submit" value="Send" />
    </form>
</body>
</html>
<div>
    @TempData["ButtonValue"]
</div>