@model IEnumerable<diary.Models.Event>
@{
    ViewData["Title"] = "События";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section Header
{
    <head>
        <style>
            #tblAlig {
                margin-bottom: 600px;
            }

            #tbl {
                width: 100%;
                border: 1px solid black;
            }

            #trTitle {
                background: #F9662B;
                border: 1px solid black;
                color: white;
            }

            td {
                font-family: Montserrat;
                font-weight: bold;
            }

            a {
                color: white;
            }
        </style>
        <title>@ViewData["Title"]</title>
    </head>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" id="tblAlig">
                        <h3>События</h3>
                        <table class="table-condensed" border="1" id="tbl">
                            <tr id="trTitle">
                                <td>Id</td>
                                <td>Название</td>
                                <td>Дата</td>
                                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                                {
                                    <td>Добавить работников</td>
                                    <td>Удалить Событие</td>
                                }

                                </tr>
                            @foreach (var e in Model)
                            {
                        <tr>
                            <td>@e.Id</td>
                            <td>@e.Name</td>
                            <td>@e.Date</td>
                            @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                            {
                                <td><a href="~/Home/AddEventWorkers/@e.Id">Добавить работника</a></td>
                                <td><a href="~/Home/RemoveEvent/@e.Id">Удалить Событие</a></td>
                            }

                            </tr>
                            }
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
}

@section Content{ }
