@model diary.Models.LoginModel
@{
    ViewData["Title"] = "Логинация";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Header
    {
    <!DOCTYPE html>
    <html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta charset="utf-8">

        <link href="~/css/Form.css" rel="stylesheet">
    </head>
    <body>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="container">
                    <div class="row">
                        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="decor" method="post">
                            <div class="form-left-decoration"></div>
                            <div class="form-right-decoration"></div>
                            <div class="circle"></div>
                            <div class="form-inner">
                                <h3>Логинация</h3>
                                <input type="text" asp-for="Email" placeholder="Логин" />
                                <input type="password" asp-for="Password" placeholder="Пароль" /> <br />

                                <input type="submit" value="Ввойти">
                                <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=CllgCKCDkkBpqTSHvNBklcLjSRCdKzxgBkzWQJXsdQjVRZJhMmmxMLRHFRltVcpwDHxSgzppSwg">Забули Пароль? Зверніться до адміністації.</a>
                                @if (ViewBag.Message != null)
                                { 
                                    <label style="color: red; font-size: 11px;">Неверный логин или пароль</label>
                                }
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
}

@section content
    {
}
